<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<hr>
<%= link_to "about", about_path %>
<hr>
<% if user_signed_in? %>
	<p>SI estas logueado, mostrando usuarios...</p>
	<% @users.each do |eachuser| %>
		<p>User: <%= eachuser.name %> Email: <%= link_to eachuser.email, eachuser %></p>
	<% end %>
<% else %>
	<p>NO estas logueado</p>
	<p>Log in to see users</p>
<% end %>
<hr>
<% if user_signed_in? %>
	<p>SI estas logueado</p>
	<p>Bienvenido <%= current_user.email %>. <%= link_to('Edit account', edit_user_registration_path) %>, o <%=link_to "Cerrar sesion", destroy_user_session_path, method: :delete %></p>	
<%else%>
	<p>NO estas logueado</p>
	<p>Crear cuenta <%= link_to "Crear cuenta", new_user_registration_path %> o Logueate <%= link_to "Log in", new_user_session_path %></p>
<%end%>