<% if user_signed_in? %>
	<div class="well">
		<h3>Hi <%= current_user.email %>, what do you want?</h3>
		<p>
			<%=link_to('View events', events_path, class: "btn btn-default")%>
			<%=link_to('New event', new_event_path, class: "btn btn-primary")%>
		</p>
	</div>
<% else %>
	<div class="jumbotron">
		<h2>Eventia</h2>
		<p>Please, log in and enjoy, or create your account now !!</p>
		<%= link_to "New account", new_user_registration_path, class: "btn btn-primary" %>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default" %>
	</div>
<% end %>