<% if user_signed_in? %>
	<div class="well">
		<h3>Hi <%= current_user.email %>, what do you want?</h3>
		<p>
			<%=link_to('View events', events_path, class: "btn btn-default")%>
			<%=link_to('New event', new_event_path, class: "btn btn-primary")%>
		</p>
	</div>
	
	<p>List of registered users:</p>
	<div class="table-responsive">
		
		<table class="table">
			<thead>
				<tr>
					<th><strong>User</strong></th>
					<th><strong>Email</strong></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |eachuser| %>
					<tr>
						<td>
							<%= eachuser.name %>
						</td>
						<td>
							<%if current_user == eachuser %>
								<%= link_to eachuser.email, eachuser %>
							<%else%>
								<%=eachuser.email%>
							<%end%>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	
<% else %>
	<div class="jumbotron">
		<h2>Eventia</h2>
		<p>Please, log in and enjoy, or create your account now !!</p>
		<%= link_to "New account", new_user_registration_path, class: "btn btn-success" %>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
	</div>
<% end %>