<h3>User profile</h3>
<div class="row container-fluid">
	<div class="well col-md-6">
		<p><strong>User</strong>: <%= current_user.name %></p>
		<p><strong>Mail</strong>: <%= current_user.email %></p>
		<p><strong>Events</strong>:
			<ul>
				<% current_user.mis_eventos.each do |ev| %>
					<li>Title: <%= ev.title %></li>
				<%end%>
			</ul>
		</p>
	</div>
	
</div>

<%=link_to('Back to home', root_path, class: "btn btn-default")%>
<%= link_to('Edit account', edit_user_registration_path, class: "btn btn-default") %>