<div>
	<% if @events.any? %>
	<h3>Events:</h3>
	<div class="row container-fluid">
		<table class="table table-condensed  table-hover">
			<thead>
				<tr>
					<th><strong>Event</strong></th>
					<th><strong>Followers</strong></th>
					<th><strong>Actions</strong></th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |eachevent| %>
					<tr>
						<td><%= eachevent.title %></td>
						<td><%= eachevent.followers.count %></td>
						<td><%=link_to('Details', eachevent, class: "btn btn-default")%>
						<!--BOTONES FOLLOW/UNFOLLOW Y DELETE-->
						<%if current_user.id == eachevent.mi_creador.id%>
							<%=link_to "Delete", eachevent, method: :delete, data: {confirm: "You sure?" }, class: "btn btn-danger" %>
						<%end%>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<%else%>
		<h3>No events!</h3>
	<%end%>
</div>
<%=link_to('Back to home', root_path, class: "btn btn-default")%>