<div>
	<% if @events.any? %>
	<h3>Events:</h3>
	<div class="row container-fluid">
		<table class="table table-condensed  table-hover">
			<thead>
				<tr>
					<th><strong>Event</strong></th>
					<th><strong>Created by</strong></th>
					<th><strong>Followers</strong></th>
					<th><strong>Actions</strong></th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |eachevent| %>
					<tr <%if eachevent.followers.include?(current_user)%>class="info"<%end%>>
						<td><%= eachevent.title %></td>
						<td>
							<%=eachevent.mi_creador.name%>
							<%if eachevent.mi_creador.name == current_user.name %>
								<span class="text-primary"> (<span class="glyphicon glyphicon-info-sign"></span> You!)</span>
							<%end%>
						</td>
						<td><%= eachevent.followers.count %></td>
						<td><%=link_to('Details & actions', eachevent, class: "btn btn-default")%>

						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<%else%>
		<h3>No events!</h3>
	<%end%>
</div>
<%=link_to('Back to home', root_path, class: "btn btn-default")%>