<h3>Event <%= @event.title %></h3>
<div class="row container-fluid">
	<div class="col-md-4 well">
		Event title: <%= @event.title %>
		<br>
		Created by: <%= @event.mi_creador.name %>
		<br>
		Place: <%= @event.place %>
		<br>
		Date: <%= @event.date.to_s %>
		<br>
		Description: <%= @event.description %>
	</div>
</div>
<div id="invisible" class="oculto"><%= @event.followers.include?(current_user) %></div>
<div id="botonFollow" rel="<%=@event.id%>" asdf="<%=current_user.id%>">
	<button class="btn btn-primary">Follow</button>
</div>
<div id="botonUnfollow" rel="<%=@event.id%>" asdf="<%=current_user.id%>">
	<button class="btn btn-warning">Unfollow</button>
</div>
<br>
<br>

<%if current_user.id == @event.mi_creador.id%>
	<%=link_to "Delete event", @event, method: :delete, data: {confirm: "You sure?" }, class: "btn btn-danger" %>
<%end%>
<br>
<br>
<%=link_to('Back to events', events_path, class: "btn btn-default")%> <%=link_to('Back to home', root_path, class: "btn btn-default")%>
