<h3>Event <%= @event.title %></h3>
<div class="row container-fluid">
	<div class="col-md-4 well">
		Event title: <%= @event.title %>
		<br>
		Created by: <%= @event.mi_creador.name %>
		<br>
		Place: <%= @event.place %>
		<br>
		Date: <%= @event.date.to_s %>
		<br>
		Description: <%= @event.description %>
	</div>
</div>
<button id="follow" class="btn btn-primary">Follow</button>
<button id="unfollow" class="btn btn-warning">Unfollow</button>

<%if current_user.id == @event.mi_creador.id%>
	<%=link_to "Delete event", @event, method: :delete, data: {confirm: "You sure?" }, class: "btn btn-danger" %>
<%end%>
<br>
<br>
<%=link_to('Back to events', events_path, class: "btn btn-default")%> <%=link_to('Back to home', root_path, class: "btn btn-default")%>
